<div class="main-container container-fluid">
    <div class="jumbotron" >
        {{#ifCond user (userToken user.id)}}
            <h1>Hello, {{user.username}}, nice to see you back :)</h1>
            <h3>Now go ahead, ask what you want</h3>
            <p class="input-group" style="width:100%; text-align: center">
                <textarea placeholder="Ask something" class="form-control input-ask"></textarea>
                <a class="btn btn-primary btn-lg btn-ask" href="#" role="button">Ask</a>
            </p>
        {{else}}
            <h1>Welcome to TelerikAcademy Social Network.</h1>
            <h3>The place where people actually talk to eachother.</h3>
        {{/ifCond}}
    </div>
    {{#each posts}}
        <div class="panel panel-primary">
            <div class="panel-heading">
                <img src="{{this.senderImage}}"/>
                <span class="author-name">{{this.sender}}</span>
                <span class="post-date">{{date this.dateTime}}</span>
                <span class="post-time">{{time this.dateTime}}</span>
            </div>
            <div class="panel-body">
                <p>{{{this.message}}}</p>
            </div>
        </div>
    {{/each}}

    {{#ifCond user (userToken user.id)}}
        <div class="chat-bar-wrapper hidden-md hidden-sm hidden-xs">
            <div class="chat-bar">
                <div class="chat empty-chat" data-partner-id="empty" data-has-more-messages="1" data-shown-messages-count="0">
                    <span class="chat-title"></span>
                    <div class="chat-body">
                        <div class="chat-top-bar">
                            <img src="" class="partner-profile-image">
                            <span class="chat-name">Empty Chat</span>
                            <span class="close glyphicon glyphicon-remove"></span>
                            <span class="minimize glyphicon glyphicon-triangle-bottom"></span>
                        </div>
                        <div class="chat-messages mCustomScrollbar" data-mcs-theme="dark">
                            <img src="/images/spinner.gif" class="spinner">
                        </div>
                        <textarea width="100%" height="30px" placeholder="Send a message"></textarea>
                        <span class="chat-send glyphicon glyphicon-send"></span>
                    </div>
                </div>
            </div>
        </div>
    {{/ifCond}}
</div>
<div class="all-users-container hidden-md hidden-sm hidden-xs">
    {{>allUsers}}
</div>